* {
    margin: 0;
    padding: 0;
    transition-duration: 500ms;
    cursor: default;
    font-family: "Noto Serif JP", serif;
    /*"Noto Sans JP", sans-serif*/
    /* border: 1px solid black; */
}

footer {
    margin-bottom: 1px;
    font-size: 10px;
}



body {
    background-color: #e2dcd3;
}

#belt {
    display: inline;
    position: absolute;
    left: 50%;
    margin-left: -50px;

}

.wiggle {
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

header {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

#navbar {

    display: none;
    flex-direction: row;
    height: 80px;
    justify-content: space-evenly;
    margin: 0 auto 0 auto;
    width: 250px;
    z-index: 5;
    position: fixed;
    left: 25px;
    top: 25px;

}

.navElement {
    background-color: white;
    width: 78px;
    height: 80px;
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;
    z-index: 6;

}

.navElement:hover {
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 3px 3px;
    transition-duration: 400ms;
}

#backBtn>a>svg {
    margin-top: 11px;
    margin-left: 10px;
}

#home a {
    cursor: pointer;

}

#home>a>svg {
    margin-top: 11px;
    margin-left: 1px;
}

#subtitle {
    font-size: 20px;
}

fieldset {
    border: 0;
    margin-top: 120px;
}

#pickText {
    margin: 40px auto 40px auto;
    text-align: center;
    font-size: 30px;
}

#pickContainer {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    flex-wrap: wrap;
}

.selectionContainer {
    padding: 0 10px 0 10px;
    margin-bottom: 25px;
}

.selection {
    width: 300px;
    border: 2px solid black;
    height: 300px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
}

.selection:hover {
    transform: scale(1.1)
}

.selection:hover+.selectionText {
    transform: translateY(11px)
}

.selectionText {
    margin-top: -25px;
    text-align: center;
    margin-bottom: 0px;
}

#container {
    margin: 160px auto 0 auto;
    display: flex;
    justify-content: center;
    max-width: 800px;
}

#textContainer {
    display: none;
    width: 800px;
    margin: 20px;
    /* border: 1px solid black; */
    height: 800px;
    border: 1px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 10px;
    background-color: white;
}

#textContainer article {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

article h1 {
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width: 900px) {
    fieldset {
        margin-top: -100px;
    }

    #navbar {
        display: flex;
        position: sticky;
        margin-top: -100px;
        margin-right: 5px;
        flex-direction: column;
        width: 80px;
        height: 200px;
        margin-bottom: 100px;
    }

    .navElement {
        height: 80px;
        position: relative;
        width: 80px;
    }

    #container {
        margin-top: -110px;
    }

    .wiggle {
        animation-name: none;
    }

    #belt {
        animation-name: wiggleMobile;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }


}

.hide {
    display: none;
}

@keyframes wiggle {
    35% {
        transform: rotate(-20deg);
    }

    70% {
        transform: rotate(20deg);
    }
}

@keyframes wiggleMobile {
    10% {
        transform: rotate(-20deg);
    }

    20% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(0deg);
    }
}